.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.md
.Rdata
.httr-oauth
.DS_Store
.quarto
tests/testthat/*.pdf

# No need to push rsconnect up
rsconnect/

# Ignore docker deploy folder
deploy/

# Shiny bookmarks
shiny_bookmarks/

# Ignore log files
logs/
